@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

h1 {
  color: tomato;
}

.navbar {
  background: grey;
  height: 80px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 80px;
  padding: 0 10px;
  text-decoration: none;
}
.user-buttons {
  color: inherit;
  display: block;
  float: right;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  padding: 0 10px;
  margin: 22px;
  text-decoration: none;
  right: 0;
  button{
    margin: 2.5px;
  }
  input{
    margin-left: 10px;
  }
}

.article{
  width: 90%;
  margin: 20px 0;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  .preview{
    display: flex;
    img{
      flex: 1;
    }
    p{
      flex: 2;
      margin: 0 10px;
    }
  }
}

.content-box{
  background-color: #f2f2f2;
  position:relative;
  padding:  20px 0;
  width: 80%;
  right: -20%;
  li{
  list-style-type: none;
  }
}

.collapsible{
  padding: 20px 18px;
  display: none;
  overflow: hidden;
  background-color: #f9f0f9;
}